@import "../styles/utils.scss";

.SassComponent {
  display: flex;
  .box {
    // 일반 CSS에서 .SassComponent .box 와 마찬가지
    background: red;
    cursor: pointer;
    transition: all 0.3s ease-in;
    &.red {
      // .red 클래스가 .box와 함께 사용되었을 때
      background: $red;
      @include square(1);
    }
    &.orange {
      // .orange 클래스가 .box와 함께 사용되었을 때
      background: $orange;
      @include square(2);
    }
    &.yellow {
      // .yellow 클래스가 .box와 함께 사용되었을 때
      background: $yellow;
      @include square(3);
    }
    &.green {
      // .green 클래스가 .box와 함께 사용되었을 때
      background: $green;
      @include square(4);
    }
    &.blue {
      // .blue 클래스가 .box와 함께 사용되었을 때
      background: $blue;
      @include square(5);
    }
    &.indigo {
      // .indigo 클래스가 .box와 함께 사용되었을 때
      background: $indigo;
      @include square(6);
    }
    &.violet {
      // .violet 클래스가 .box와 함께 사용되었을 때
      background: $violet;
      @include square(6);
    }
    &:hover {
      // .box에 마우스를 올렸을 때
      background: black;
    }
  }
}
